---
title: Utilidades
permalink: "/utilidades/"
nav-title: Utilidades
layout: page
---

<section class="page-content utilidades" data-grid="around row wrap">

    {% for utilidade in site.utilidades %}

        <article class="utilidades-item" data-cell="shrink">
            <a href="{{ site.baseurl }}{{ utilidade.url }}" data-grid="column center">
                {% if utilidade.icone %}
                    <p data-cell="1of4" class="icon utilidades-icon" data-grid="center"
                    {% if utilidade.cor %}
                        style="background-color: {{ utilidade.cor }};"
                    {% endif %}
                    >
                        {% include svg/{{ utilidade.icone }}.svg %}
                    </p>
                {% endif %}
                <p class="utilidades-title" data-cell="3of4">{{ utilidade.title }}</p>
            </a>
        </article>

    {% endfor %}

</section>
