---
layout: page
title: Erro 404
---

<h2>A página não foi encontrada!</h2>

<p>Desculpe! Infelizmente, o conteúdo solicitado não está disponível.</p>

<p>Verifique se o endereço está correto, ou tente um dos links a seguir:</p>

<div class="wrapper">

    <section>
        <ul class="seamless" data-grid="center spacing row wrap">
            <li>
                <h3>
                    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
                </h3>
            </li>
            {% for p in site.pages %}
                {% if p.nav-title %}
                    <li class="page-nav-item">
                        <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>

    <div data-grid="spacing">

        <section>
            <h3>Serviços</h3>

            {% assign servicos = site.servicos | sort: 'ordem' %}
            
            <ul class="seamless">
                {% for s in servicos %}
                    <li class="page-nav-item">
                        <a href="{{ site.baseurl }}{{ s.url }}">{{ s.title }}</a>
                    </li>
                {% endfor %}
            </ul>
    
        </section>

        <section>
            <h3>Utilidades</h3>

            <ul class="seamless">
                {% for u in site.utilidades %}
                    <li class="page-nav-item">
                        <a href="{{ site.baseurl }}{{ u.url }}">{{ u.title }}</a>
                    </li>
                {% endfor %}
            </ul>

        </section>

    </div>
</div>
