
<div class="about-content">

    {% assign about_page = site.pages | where: 'is_about_page', true | first %}
    {% if about_page %}

        <h2 class="about-title"><a href="{{ site.baseurl }}{{ about_page.url }}">Sobre a WCA</a></h2>
        <p>
            {{ about_page.content | markdownify | strip_html | strip_newlines | truncatewords: 20 }}
            <a href="{{ site.baseurl }}{{ about_page.url }}"> continue lendo</a>.
        </p>
    
    {% endif %}

    <p><a href="#contato" data-btn>Solicite uma cotação!</a></p>

</div>

<div class="banner">

    <div class="globo">
        <div class="step step-truck">
            <div class="sprite sprite-truck">
                <img src="{{ site.baseurl }}/img/home/truck.png" width="70%" alt="caminhão">
            </div>
        </div>
        <div class="step step-plane">
            <div class="sprite sprite-plane">
                <img src="{{ site.baseurl }}/img/home/plane.png" width="50%" alt="avião">
            </div>
        </div>
        <div class="step step-ship">
            <div class="sprite sprite-ship">
                <img src="{{ site.baseurl }}/img/home/ship.png" width="100%" alt="navio">
            </div>
        </div>
    </div>

</div>
