
<div class="about-content">

    {% assign about_page = site.pages | where: 'is_about_page', true | first %}
    {% if about_page %}

        {% capture excerpt %}
            {% if about_page.excerpt %}
                {{ about_page.excerpt | markdownify | strip_html | strip_newlines }}
            {% else %}
                {{ about_page.content | markdownify | strip_html | strip_newlines | truncatewords: 20 }}
            {% endif %}
        {% endcapture %}

        <h2 class="about-title"><a href="{{ site.baseurl }}{{ about_page.url }}">Sobre a WCA</a></h2>
        <p>
            {{ excerpt }}
            <a href="{{ site.baseurl }}{{ about_page.url }}" data-text="nowrap"> continue lendo</a>.
        </p>
    
    {% endif %}

    <p class="about-cta"><a href="#contato" data-btn>Solicite uma cotação</a></p>

</div>

<div class="banner">

    <div class="globo">
        <div class="step step-truck">
            <div class="sprite sprite-truck">
                <img src="{{ site.baseurl }}/img/home/truck.png" alt="caminhão">
            </div>
        </div>
        <div class="step step-plane">
            <div class="sprite sprite-plane">
                <img src="{{ site.baseurl }}/img/home/plane.png" alt="avião">
            </div>
        </div>
        <div class="step step-ship">
            <div class="sprite sprite-ship">
                <img src="{{ site.baseurl }}/img/home/ship.png" alt="navio">
            </div>
        </div>
    </div>

</div>
