
<div class="wrapper">

    {% assign about_page = site.pages | where: 'is_about_page', true | first %}
    {% if about_page %}

        <h2>Sobre a WCA</h2>
        <p>
            {{ about_page.content | markdownify | strip_html | strip_newlines | truncatewords: 30 }}
            <a href="{{ site.baseurl }}{{ about_page.url }}">Mais sobre a WCA »</a>
        </p>
    
    {% endif %}

    <p data-grid="center"><a href="#contato" data-btn data-cell="shrink fill">Contrate agora mesmo!</a></p>
    
</div>
