
<div class="hero-content" data-grid="center spacing around">

    <aside data-cell="1of3 shrink order-1"><img src="{{ site.baseurl }}/favicon.png" alt="Logo WCA"></aside>

    <article data-cell="2of3 shrink">
        <h3 class="hero-title">{{ site.title }}</h3>
        <p class="hero-tagline">{{ site.description }}</p>
        <p><a href="#contato" data-btn>Fale conosco</a></p>
    </article>

</div>

<div class="video-bg">
    <video id="top-video-background"
    src="https://img.exportportal.com/public/img/main_video/shutterstock2.mp4" autoplay loop muted playsinline
    oncanplay="console.log"></video>
    <script>
        addEventListener('load', function () {document.getElementById('top-video-background').play();});
    </script>
</div>
