<div class="hero-content parallax-content" data-grid="center spacing around">

    <article data-cell="shrink">
        <p><img src="{{ site.baseurl }}/favicon.png" alt="Logo WCA" width="200"></p>
        <p class="hero-tagline">{{ site.tagline }}</p>
    </article>

</div>

<div class="video-bg">
    <video id="top-video-background" poster="{{ site.baseurl }}/img/port-panorama-poster.jpg" autoplay loop muted playsinline
    data-full-hd="{{ site.baseurl }}/videos/port-panorama-full-hd.mp4" 
         data-hd="{{ site.baseurl }}/videos/port-panorama-hd.mp4" 
         data-ld="{{ site.baseurl }}/videos/port-panorama-ld.mp4" 
    ></video>
</div>
