<div class="parallax-container">
    
    <div class="hero-content parallax-content" data-grid="center spacing around">
    
    
        <article data-cell="shrink">
            <p><img src="{{ site.baseurl }}/favicon.png" alt="Logo WCA" width="200"></p>
            <p class="hero-tagline">{{ site.tagline }}</p>
            <p><a href="#contato" data-btn>Fale conosco</a></p>
        </article>
    
    </div>
    
</div>

<div class="video-bg">
    <video id="top-video-background"
    src="https://img.exportportal.com/public/img/main_video/shutterstock2.mp4" autoplay loop muted playsinline
    oncanplay="console.log"></video>
    <script>
        addEventListener('load', function () {document.getElementById('top-video-background').play();});
    </script>
</div>
