
+module(text)

    +variant(sm)
        font-size: .7em

    +variant(lg)
        font-size: 2em
        line-height: 1.2

    +variant(xl)
        font-size: 3em
        line-height: 1.2

    +variant(bold)
        font-weight: 600

    +variant(light)
        font-weight: 200

    +variant(left)
        text-align: left

    +variant(center)
        text-align: center

    +variant(right)
        text-align: right
