.hero

    padding-left: $spacing-unit
    padding-right: $spacing-unit
    background:
        color: $brand-color
        image: linear-gradient(135deg, $brand-color, $brand-color-dark)
    color: #fff
    +media-query($on-laptop)
        padding-left: $spacing-unit / 2
        padding-right: $spacing-unit / 2
        .wrapper
            padding-left: 0
            padding-right: 0

    a
        color: $compl-color

    [data-btn]
        background-color: $compl-color

        &, &:hover, &:focus, &:active
            color: $grey-color-dark
    
    &.dark
        background: $grey-color-dark
    
    &.light
        background: $grey-color-light
        color: $text-color

        a
            color: $brand-color

        [data-btn]
            background-color: #fff
