
<div id="contato" data-modal="" data-grid="center">
    <form action="" class="page-content wrapper">
        <div data-grid="row nowrap spacing">
            <div data-cell="shrink"><img src="{{ site.baseurl }}/favicon.png" height="56" alt="{{ site.title }}"></div>
            <h4>Fale conosco</h4>
            <a href="#x" data-cell="shrink" class="close-icon">&times;</a>
        </div>
        <div data-grid="center spacing">
            <p data-cell="fill">
                <label for="nome">Nome</label>
                <input type="text" name="nome" placeholder="Digite seu nome...">
            </p>
            <p data-cell="fill">
                <label for="empresa">Empresa</label>
                <input type="text" name="empresa" placeholder="Nome da sua empresa...">
            </p>
        </div>
        <p>
            <label for="email">E-mail para contato</label>
            <input type="email" name="email" placeholder="nome@dominio.com">
        </p>
        <p>
            <label for="mensagem">Mensagem</label>
            <textarea name="mensagem" cols="30" rows="4" placeholder="Digite a sua mensagem..."></textarea>
        </p>
        <p data-grid="row nowrap center spacing justify">
            <a href="#x" data-cell="shrink">Fechar</a>
            <button data-cell="shrink">Enviar</button>
        </p>
        {% assign telefone = site.telefones[0] %}
        {% assign icon_size = telefone.icone | size %}
        <p data-text="center"><small>
            Se preferir, ligue para nós: <a href="tel:{{ telefone.numero }}" data-btn="link" class="icon">
            {% if icon_size > 0 %}{% include svg/{{ telefone.icone }}.svg %}{% endif %}
            {{ telefone.rotulo }}</a>
        </small></p>
    </form>
</div>
