
<div id="contato" data-modal="" data-grid="center">
    <form action="" class="page-content wrapper">
        <div data-grid="row nowrap spacing">
            <div data-cell="shrink"><img src="{{ site.baseurl }}/favicon.png" height="56" alt="{{ site.title }}"></div>
            <h4>Fale conosco</h4>
            <a href="#x" data-cell="shrink" class="close-icon">&times;</a>
        </div>
        <p>
            <label for="nome">Nome</label>
            <input type="text" name="nome" placeholder="Digite seu nome...">
        </p>
        <p>
            <label for="email">E-mail para contato</label>
            <input type="email" name="email" placeholder="nome@dominio.com">
        </p>
        <p>
            <label for="mensagem">Mensagem</label>
            <textarea name="mensagem" cols="30" rows="5" placeholder="Digite a sua mensagem..."></textarea>
        </p>
        <p data-grid="row nowrap center spacing justify">
            <a href="#x" data-cell="shrink">Fechar</a>
            <button data-cell="shrink">Enviar</button>
        </p>
    </form>
</div>