<footer class="site-footer">

  <div class="wrapper" data-grid="spacing">

    <div data-cell="1of3">
      <h2 class="footer-heading">{{ site.long-title }}</h2>
      <p>{{ site.endereco }} - {{ site.localidade }}</p>
      {% for tel in site.telefones %}
        <p>
          <span class="icon">{% include svg/tel-old.svg %}</span>
          <a href="tel:{{ tel.numero }}" class="tel"> {{ tel.rotulo }}</a>
        </p>
      {% endfor %}
      {% if site.email %}
        <p>
          <span class="icon">{% include svg/email.svg %}</span>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
      {% endif %}
    </div>


    <div data-cell="shrink">
      <ul class="seamless">
        {% for my_page in site.pages %}
          {% if my_page.nav-title %}
            <li>
              <a href="{{ my_page.url | prepend: site.baseurl }}">
                {{ my_page.nav-title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
        <li><a href="#contato">Contato</a></li>
      </ul>
    </div>

  </div>

</footer>
