<footer class="site-footer">

  <div class="wrapper" data-grid="spacing">

    <div data-cell="1of3">
      <p>
        <img src="{{ site.baseurl }}/img/WCA_30anos.jpg" height="90" alt="{{ site.title }}">
      </p>
      <h2 class="footer-heading">{{ site.long-title }}</h2>
      <p>{{ site.endereco }} - {{ site.localidade }}</p>
      {% for tel in site.telefones %}{% assign icon_size = tel.icone | size %}
        <p>
          {% if icon_size > 0 %}
            <span class="icon">{% include svg/{{ tel.icone }}.svg %}</span>
          {% endif %}
          <a href="tel:{{ tel.numero }}" class="tel"> {{ tel.rotulo }}</a>
        </p>
      {% endfor %}
      {% if site.email %}
        <p>
          <span class="icon">{% include svg/email.svg %}</span>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
      {% endif %}
    </div>


    <nav data-cell="shrink" class="footer-nav">
      <ul class="seamless">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        {% for my_page in site.pages %}
          {% if my_page.nav-title %}
            <li>
              <a href="{{ my_page.url | prepend: site.baseurl }}">
                {{ my_page.nav-title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
        <li><a href="{{ site.baseurl }}/#mapa">Localização</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </nav>

  </div>

  <p data-text="sm center" class="footer-copy">Copyright © {{ 'now' | date: "%Y" }} - WCA  |  Todos os direitos reservados | Desenvolvido por <a href="http://copatecnologia.com.br" target="_blank">Copa Tecnologia</a></p>

</footer>
