<footer class="site-footer">

  <div class="wrapper" data-grid="spacing">

    <div data-cell="1of3">
      <h2 class="footer-heading">{{ site.long-title }}</h2>
      <p>{{ site.endereco }} - {{ site.localidade }}</p>
      <p data-grid="spacing">
        {% for tel in site.telefones %}
          {% if tel.numero %}
            <a href="tel:{{ tel.numero }}" class="tel">{{ tel.rotulo }}</a>
          {% else %}
            <span class="tel">{{ tel.rotulo }}</span>
          {% endif %}
        {% endfor %}
      </p>
    </div>


    <div data-cell="shrink">
      <ul class="seamless">
        {% for my_page in site.pages %}
          {% if my_page.nav-title %}
            <li>
              <a href="{{ my_page.url | prepend: site.baseurl }}">
                {{ my_page.nav-title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
        <li><a href="#contato">Contato</a></li>
      </ul>
    </div>

  </div>

</footer>
