%maw
    .wrapper
        > *
            max-width: 30em

.section-

    &hero
        @extend %maw
        padding-top: $spacing-unit * 4
        padding-bottom: $spacing-unit * 4
    &features
        padding-top: $spacing-unit * 4
        padding-bottom: $spacing-unit * 4
    &services
        article
            text-align: center
            +media-greater($on-palm)
                max-width: 16em
    &about
        @extend %maw