.utilidades

    &-item
        width: 200px
        margin: $spacing-unit
        text-align: center

        +media-query($on-palm)
            margin-left: auto
            margin-right: auto

    &-icon
        width: 120px
        max-width: 120px
        height: 120px
        min-height: 120px
        padding: 20px
        border-radius: 999px
        background-color: $brand-color
        color: #fff
        svg
            width: 70px
            height: 70px
