.utilidades

    &-icon
        svg
            width: 3em
            height: 3em

.utilidades-nav
    padding-top: $spacing-unit / 2
    padding-bottom: $spacing-unit / 2

    +media-greater($on-palm)
        float: right
        max-width: 16em
        margin-left: $spacing-unit
        border-left: 1px solid $grey-color-light

    +media-greater($large-content-width)
        margin-right: 15%
