$banner-animation-duration: 21s

.banner
    position: relative
    overflow: hidden
    padding-bottom: 0
    background-color: #4892c7
    +media-greater($on-palm)
        margin-left: 30%
    .globo
        background:
            position: center
            repeat: no-repeat
            size: 90%
        position: relative
        display: block
        height: 0
        padding-bottom: 140%
        margin: 0 -20% -90% -20%
        backface-visibility: hidden
        -webkit-transform: rotate(-60deg)
        transform: rotate(-60deg)
        -webkit-animation: banner-rotation $banner-animation-duration ease infinite
        animation: banner-rotation $banner-animation-duration ease infinite
        +media-query($on-laptop)
            background-image: url('#{$baseurl}/img/home/globo-sm.jpg')
        +media-greater($on-laptop)
            background-image: url('#{$baseurl}/img/home/globo.jpg')
        +media-greater($on-palm)
            left: 20%
    .step
        position: absolute
        left: 50%
        text-align: center
        height: 100%
        &.step-ship
            -webkit-transform: translateX(-50%) rotate(180deg)
            transform: translateX(-50%) rotate(180deg)
        &.step-truck
            -webkit-transform: translateX(-50%) rotate(300deg)
            transform: translateX(-50%) rotate(300deg)
        &.step-plane
            -webkit-transform: translateX(-50%) rotate(60deg)
            transform: translateX(-50%) rotate(60deg)
    .sprite
        padding: 10px
        width: 120%
        height: 100%
        margin: auto
        +media-query(2500px)
            width: 100%
        +media-query(1800px)
            width: 80%
        +media-query(1400px)
            width: 70%
        +media-query(1300px)
            width: 60%
        +media-query(1100px)
            width: 50%
        +media-query(900px)
            width: 45%
        +media-query(800px)
            width: 40%
        &.sprite-ship
            -webkit-animation: rotate-sprite $banner-animation-duration / 3 ease-in-out infinite
            animation: rotate-sprite $banner-animation-duration / 3 ease-in-out infinite
            img
                position: relative
                top: 28%
                +media-query($on-laptop)
                    top: 27%
        &.sprite-truck
            -webkit-animation: rotate-sprite $banner-animation-duration / 3 ease-in-out infinite
            animation: rotate-sprite $banner-animation-duration / 3 ease-in-out infinite
            img
                position: relative
                top: 29%
                +media-query(700px)
                    top: 27.5%
                +media-query(600px)
                    top: 28%
        &.sprite-plane
            -webkit-animation: rotate-sprite $banner-animation-duration / 3 ease-in-out infinite
            animation: rotate-sprite $banner-animation-duration / 3 ease-in-out infinite
            img
                position: relative
                top: 15%

@-webkit-keyframes banner-rotation
    0%
        -webkit-transform: rotate(-60deg)
    16%
        -webkit-transform: rotate(-180deg)
    32%
        -webkit-transform: rotate(-180deg)
    48%
        -webkit-transform: rotate(-300deg)
    64%
        -webkit-transform: rotate(-300deg)
    80%
        -webkit-transform: rotate(-420deg)
    100%
        -webkit-transform: rotate(-420deg)

@keyframes banner-rotation
    0%
        transform: rotate(-60deg)
    16%
        transform: rotate(-180deg)
    32%
        transform: rotate(-180deg)
    48%
        transform: rotate(-300deg)
    64%
        transform: rotate(-300deg)
    80%
        transform: rotate(-420deg)
    100%
        transform: rotate(-420deg)

@-webkit-keyframes rotate-sprite
    0%, 40%, 100%
        opacity: 0
    60%, 80%
        opacity: 1
    0%
        -webkit-transform: rotate(40deg)
    100%
        -webkit-transform: rotate(-25deg)

@keyframes rotate-sprite
    0%, 40%, 100%
        opacity: 0
    60%, 80%
        opacity: 1
    0%
        transform: rotate(40deg)
    100%
        transform: rotate(-25deg)
