%section-spacing
    padding-top: $spacing-unit * 2
    padding-bottom: $spacing-unit * 2

.section-

    &hero
        padding: 0
    &features
        @extend %section-spacing
    &services
        article
            padding: $spacing-unit
            border-radius: 7px
            text-align: center
            @extend %transition
            &:hover
                background-color: #000
                color: #fff
            +media-greater($on-palm)
                max-width: 25em
            +media-greater($large-content-width)
                min-width: 25%
            p
                font-size: 85%
        svg
            max-width: 80%
            +media-query($on-palm)
                max-width: 60%
    &about
        @extend %section-spacing
        line-height: 1.6
        p
            letter-spacing: 1px
