---
layout: default
---

{% include page-cover.html %}

<article class="post page-content">

  <header class="post-header wrapper">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>

<div class="page-content">
    
    <nav class="wrapper page-nav">
        <p>
            <strong>Serviços</strong>
        </p>
        <ul class="seamless">

            {% assign servicos = site.servicos | sort: 'ordem' %}

            {% for s in servicos %}
                <li>
                    <a href="{{ site.baseurl }}{{ s.url }}">{{ s.title }}</a>
                </li>
            {% endfor %}

        </ul>
    </nav>
    
</div>
