---
layout: default
---

{% include page-cover.html %}

<article class="post page-content">

    <header class="post-header wrapper" data-grid="center spacing">

        {% if page.icone %}<div class="icon utilidades-icon" data-cell="shrink" data-grid="center"
            {% if page.cor %}style="background-color: {{ page.cor }}"{% endif %}
        >{% include svg/{{ page.icone }}.svg %}</div>{% endif %}
        <h1 class="post-title">{{ page.title }}</h1>

    </header>

    <div class="post-content">

        {{ content }}

    </div>

</article>

<div class="page-content">
    
    <nav class="wrapper utilidades-nav">
        <p>
            <strong>Utilidades</strong>
        </p>
        <ul class="seamless">
            {% for u in site.utilidades %}
                <li>
                    <a href="{{ site.baseurl }}{{ u.url }}">{{ u.title | upcase }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    
</div>
