.page-cover
    position: relative
    overflow: hidden
    height: 0
    padding-bottom: 40%
    transform: translateY(0)
    img
        width: 100%
        transform: translateY(0)

.page-nav
    .page-nav-item
        line-height: 2
    a
        text-transform: uppercase
        letter-spacing: 1px

    .icon
        font-size: 2em
        padding: 0.5em
        margin-right: 0.5em
        color: #fff
        border-radius: 1em